<template>
  <div class="bg-grey-lighten-4">
    <CatalogComponent/>
  </div>
</template>

<script>
  import CatalogComponent from '@/components/CatalogComponent'

  export default {
    components: {CatalogComponent}
  }
</script>
