<template>
  <v-container class="d-flex">
    <v-img
      :src="imgRout"
    ></v-img>
    <div class="w-50 pl-12 pt-12">
      <h2>{{ item.name }}</h2>
      <v-table class="mt-6">
        <tbody>
        <tr
          v-for="(item, key) in itemInfo"
          :key="key"
          class="text-capitalize"
        >
          <td>{{ key }}</td>
          <td :class="{'text-orange-lighten-2 text-subtitle-1 font-weight-bold': key === 'price'}">{{ item }} {{ key === 'price' ? 'грн' : '' }}</td>
        </tr>
        </tbody>
      </v-table>
    </div>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: "ItemPage",
  computed: {
    ...mapGetters([
      "getItemById"
    ]),
    item() {
      return this.getItemById(this.$route.params.id)
    },
    imgRout() {
      return `../${this.item.img}`
    },
    itemInfo() {
      return {
        price: this.item.price,
        size: `${this.item.width} x ${this.item.height}`,
        color: this.item.color,
        shape: this.item.shape,
        light: this.item.light ? "Yes" : "No",
      }
    }
  },
}
</script>

<style scoped>

</style>
