<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">

      <h1 class="text-h2 font-weight-bold py-8">Mouse mat</h1>

      <div>
        <h2 class="pb-3">Filter</h2>
        <div class="d-flex align-center">
          <h3 class="w-25">Color</h3>
          <v-checkbox
            v-model="filter.color"
            label="print"
            color="info"
            value="print"
            hide-details
          />
          <v-checkbox
            v-model="filter.color"
            label="black"
            color="info"
            value="black"
            hide-details
          />
          <v-checkbox
            v-model="filter.color"
            label="blue"
            color="info"
            value="blue"
            hide-details
          />
          <v-checkbox
            v-model="filter.color"
            label="white"
            color="info"
            value="white"
            hide-details
          />
          <v-checkbox
            v-model="filter.color"
            label="grey"
            color="info"
            value="grey"
            hide-details
          />
          <v-checkbox
            v-model="filter.color"
            label="brown"
            color="info"
            value="brown"
            hide-details
          />
        </div>
        <div class="d-flex align-center">
          <h3 class="w-25">Light</h3>
          <v-checkbox
            v-model="filter.light"
            label="light"
            color="info"
            hide-details
          />
        </div>
        <div class="d-flex align-center">
          <h3 class="w-25">Shape</h3>
          <v-checkbox
            v-model="filter.shape"
            label="square"
            color="info"
            value="square"
            hide-details
          />
          <v-checkbox
            v-model="filter.shape"
            label="rectangle"
            color="info"
            value="rectangle"
            hide-details
          />
          <v-checkbox
            v-model="filter.shape"
            label="circle"
            color="info"
            value="circle"
            hide-details
          />
        </div>
        <div class="d-flex mt-8">
          <h3 class="w-25">Price</h3>
          <v-range-slider
            class="pr-10"
            v-model="filter.price.filtered"
            step="1"
            :min="getMaxAndMinPrise.min"
            :max="getMaxAndMinPrise.max"
            thumb-label="always"
          />
        </div>
      </div>
      <div class="d-flex justify-space-around mb-6 flex-wrap">
        <item-component v-for="item of filteredItems" :item="item" :key="item.id"/>
      </div>
    </v-responsive>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'
import ItemComponent from "@/components/ItemComponent";

export default {
  components: {ItemComponent},
  computed: {
    ...mapGetters(['getFilteredItems', 'getMaxAndMinPrise']),
    filteredItems() {
      return this.getFilteredItems(this.filter)
    }
  },
  data() {
    return {
      filter: {
        color: [],
        light: null,
        shape: [],
        price: {
          default: [],
          filtered: []
        }
      }
    }
  },
  mounted() {
    this.filter.price.default = [this.getMaxAndMinPrise.min, this.getMaxAndMinPrise.max]
    this.filterAfterUpdate()
  },
  methods: {
    filterAfterUpdate() {
      if (this.$route.query.light === 'true') {
        this.filter.light = true
      }
      if (this.$route.query.color) {
        this.filter.color = typeof (this.$route.query.color) === 'string' ? [this.$route.query.color] : [...this.$route.query.color]
      }
      if (this.$route.query.shape) {
        this.filter.shape = typeof (this.$route.query.shape) === 'string' ? [this.$route.query.shape] : [...this.$route.query.shape]
      }
      if (this.$route.query.price && (+this.$route.query.price[0] > this.filter.price.default[0]
        || +this.$route.query.price[1] < this.filter.price.default[1])) {
        this.filter.price.filtered = [...this.$route.query.price]
      } else {
        this.filter.price.filtered = [this.getMaxAndMinPrise.min, this.getMaxAndMinPrise.max]
      }
    }
  },
  watch: {
    filter: {
      handler() {
        this.$router.push({
          query: {
            color: this.filter.color,
            light: this.filter.light,
            shape: this.filter.shape,
            price: this.filter.price.filtered,
          }
        })
        this.getFilteredItems(this.filter)
      },
      deep: true,
    }
  }
}
</script>
