<template>
  <v-card
    class="my-6"
    width="30%"
    @click="openItem"
  >
    <v-img
      class="ma-4"
      :src="item.img"
      height="200px"
    ></v-img>

    <v-card-title>
      {{ item.name }}
    </v-card-title>

    <v-card-text class="d-flex justify-space-between align-center mt-2">
      <span class="text-grey-darken-2">{{ item.width }} x {{ item.height }}</span>
      <span class="text-orange-lighten-2 text-subtitle-1 font-weight-bold">{{ item.price }} грн</span>
    </v-card-text>
  </v-card>
</template>

<script>

export default {
  name: "ItemComponent",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    openItem() {
      this.$router.push({ path: `/item/${this.item.id}` })
    }
  }
}
</script>

<style scoped>

</style>
